* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background: url('../../../public/img/got.jpeg') center center no-repeat;
  background-size: cover;
  font-size: 16px;
  height: 100%;
}

.toggle-btn {
  font-weight: 600;
  margin-bottom: 5em;
  padding: 10px;
  color: rgb(122, 121, 121);
  background-color: #131929;
  border-radius: 5px;
}
